/* Tablet */

@media screen and (min-width:768px) {
    .col {
        width: calc(100% / 2 - 20px / 2);
    }
    
}

@media screen and (min-width:1024px) {
    .col {
        width: calc(100% / 3 - 40px / 3);
    }
}