/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;;
}

/* COMMON */
/* Typography */

h1 {
    text-align: center;
    font-family: "Edu Tas Beginner";
    padding: 20px;
}
body {
    background-image: url(../img/cork.png);
}


/* Layout */

.container {
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

.col {
    width: calc(100%);
}

/* Flex */

.flex {
    display:flex;
}
.justify-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.g-20 {
    gap: 20px;
}

/* Utilities */
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}



/* HEADER */
header {
    background-image: url(../img/wall.png);
    height: 90px;
    display:flex;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
}

main {
    margin-top: 80px;
}

/* MAIN */

.card {
    padding:10px;
    border:1px solid white;
    background-color: white;
    text-align: center;
    width:280px;
    position:relative;
    font-family: "Sometype Mono", monospace;
    font-size: 12px;
}
.foto {
    width:100%;
    height:auto;
    background-color: rgb(96, 162, 96);
}

.spillo {
    width:26px;
    position:absolute;
    top: -13px;
    left:50%;
    transform: translate(-50%);
}

.leyenda {
    margin-top:10px;
    padding: 4px;
    text-align: left;
}



