/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;;
}

/* COMMON */
/* Typography */

h1 {
    text-align: center;
    font-family: "Edu Tas Beginner";
    padding: 20px;
    font-size: 3rem;
}

h3 {
    font-family: "Edu Tas Beginner";
    font-size: 1.4rem;
    text-align: left;
    text-transform: uppercase;

}
body {
    background-image: url(../img/cork.png);
}


/* Layout */

.container {
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

.col {
    width: calc(100%);
}

/* Flex */

.flex {
    display:flex;
}
.justify-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.g-20 {
    gap: 20px;
}

/* Utilities */
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}



/* HEADER */
header {
    background-image: url(../img/wall.png);
    height: 90px;
    display:flex;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
}


/* MAIN */
main {
    margin-top: 80px;
}
/* Card con le foto */

.card {
    padding:15px;
    border:1px solid white;
    background-color: white;
    text-align: center;
    position:relative;
    height:100%;
}

.card:hover {
    transform: rotateZ(10deg);
}

.spillo {
    width:26px;
    position:absolute;
    top: -13px;
    left:50%;
    transform: translate(-50%);
}

.card:hover .spillo {
    opacity: 0;
}


p {
    margin-top:10px;
    padding: 4px;
    text-align: left;
    font-family:"Sometipe Mono", monospace;
    font-size: 1rem;

}

/* STYLE OVERLAY */

.modal-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;  
    background-color: rgba(36, 35, 35, 0.7);
}

.d-none {
    display: none;
}

.immagine {
    max-width:600px;
    max-height:600px;
    border:1px solid white;
   
}

.modal-box {
    position:relative;
    
}

.close-button {
    position:absolute;
    top:-25px;
    left:50%;
    transform: translate(-50%);
    background-color: rgb(73, 101, 227);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-size: 1.2rem;
    z-index: 2001;
    cursor:pointer;
    font-family: sans-serif;
}






