/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;;
}

/* COMMON */
/* Typography */


h1 {
    text-align: center;
    font-family: "Edu Tas Beginner";
    padding: 20px;
}
body {
    background-image: url(../img/cork.png);
}


/* Layout */

.container {
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

.col {
    width: calc(100%);
}

/* Flex */

.flex {
    display:flex;
}
.justify-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.g-20 {
    gap: 20px;
}

/* Utilities */
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* HEADER */
header {
    background-image: url(../img/wall.png);
    height: 90px;
    display:flex;
}

/* MAIN */

.card {
    padding:10px;
    border:1px solid white;
    background-color: white;
}


